body, figure, figcaption {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

p {
  margin: 10px 0;
  padding: 0;
}

a {
  opacity: 0.5;
}

a:hover {
  opacity: 1;
}

#container {
  margin: 0 10px;
  text-align: center;
}

#videoContainer {
  display: inline-block;
  margin: 30px 20px;
  margin-bottom: 3em;
  text-align: center;
}

video {
  height: auto;
  border: 1px solid black;
}

#gestureContainer {
  display: inline-block;
  margin: 30px 20px;
}

canvas {
  padding: 10px;
  min-width: 400px;
  width: auto;
  height: auto;
  border: 1px solid #000;
  border-radius: 15px;
  background: #7a9fbf;
  text-align: center;
}

.legend {
  clear: both;
  margin: 0 auto;
  padding: 0 1em;
  min-width: 580px;
  width: 100%;
  border: 1px solid #DBDBDB;
  border-radius: 10px;
  text-align: center;
}

h2 {
  text-align: left;
}

.gesture {
  display: inline-block;
  padding: 0.6em;
}

.gesture img {
  height: 75px;
}

img#play {
  height: 60px;
}

figcaption {
  text-align: center;
  font-size: 1em;
}

footer {
  position: fixed;
  bottom: 0;
  overflow: hidden;
  margin-top: 50px;
  padding: 10px 20px;
  min-width: 420px;
  width: 50%;
  height: auto;
  background: #ccc;
}

.footer {
  display: inline-block;
  float: left;
  line-height: 2.5;
}

.help {
  display: inline-block;
  float: right;
}

.expanded {
  display: none;
  /*display: inline-block;*/
  padding: 1em 0;
}
