body, figure, figcaption, p {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.grid-container {
    margin: 50px 10px 90px 10px;

}

.videoContainer {
  display: inline-block;
  margin-bottom:  3em;
  text-align: center;
}

video {
  width: 100%;
  height: auto;
  border: 1px solid black;
}

.gestureContainer {
  margin-bottom: 3em;
}

.gestureArea p {
  padding: 4em 0;
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-weight: 500;
  font-size: 2em;
}

.gestureArea {
  width:  100%;
  height:  300px;
  border: 1px solid #000;
  border-radius: 15px;
  background: #7a9fbf;
  text-align: center;
}

.legend {
  clear: both;
  margin:  0 auto;
  padding: 0 1em;
  width: 97%;
  border: 1px solid #DBDBDB;
  border-radius:  10px;
  text-align: center;
}

h2 {
  text-align: left;
}

.gesture {
  display: inline-block;
  padding: 0.6em;
}

.gesture img {
  height: 75px;
}

figcaption {
  text-align: center;
  font-size: 1em;
}

footer {
  position: absolute;
  bottom:  0;
  overflow: hidden;
  margin-top:  50px;
  padding:  20px;
  width:  50%;
  height: auto;
  background: #ccc;
}

.footer {
  display: inline-block;
  float: left;
  line-height: 2.5;
}

.help {
  display: inline-block;
  float: right;
}

.expanded {
  display: none;
  /*display: inline-block;*/
  padding: 1em 0;
}

.expand {
  height: auto;
}